@media screen and (min-width: 600px) {
    nav a {
        text-align: center;
        justify-content: center;
        width: 33vw;
    }

    nav {
        width: 100%;
    }

    .nav-menu {
        display: flex;
    }

    .open {
        border: none;
        border: 3px solid var(--deep-green);
    }

    .hamburger-button {
        display: none;
    }

    .region-card {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        margin: 150px 0;
    }
}