:root {
    --med-green: #728821;
    --deep-green: #415700;
    --pale-blue: #F0FFFF;
    /* --blue: #7DAEEB; */
    --blue: #2E5788;

    --clear-blue: #F0FFFFBB;
    --small-font: 18px;
    --medium-font: 28px;
    --large-font: 38px;
    font-size: var(--small-font);
    color: var(--deep-green);
    background-color: var(--pale-blue);
    font-family: Delius, Arial, sans-serif;
}

nav a {
    display: flex;
    width: 300px;
    height: 40px;
    background-color: var(--blue);
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--pale-blue);
    padding-left: 10px;
    border: 3px solid var(--pale-blue);
}

nav a:visited {
    color: var(--pale-blue);
}

.open {
    font-size: 25px;
    background-color: var(--deep-green);
    color: var(--pale-blue);
}

footer {
    text-align: center;
    background-color: var(--deep-green);
    color: var(--pale-blue);
    padding: 1px;
}

header {
    text-align: center;
        /* background-color: var(--deep-green); */
        /* color: var(--pale-blue); */
        padding: 10px 0px;
}

.groups {
    margin: 0;;
    width: 100%;
    border: 3px solid var(--deep-green);
}

.region-card {
    border: 1px dotted var(--blue);
    margin: 10px 0;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.card {
    padding: 10px;
    border: 3px solid red;
    border-radius: 10px;
    display: block;
    text-align: left;
    background-color: black;
}

.region-card h2 {
    grid-column: 1 / -1;
    text-align: center;
}


.city {
    grid-column: 1 / -1;
    text-align: center;
    background-color: yellow;;
}

.home{
    display: flex;
}

.hero-head{
    position: relative;
}

.hero-p{
    position: relative;
    top: 200px;
    left: 500px;
}

.hero {
    width: 100%;
    left: 0;
}

.hero img {
    width: 100%;
    height: auto;
}

.start-group {
    background-color: red;
    padding: 20px;
    text-decoration: none;
}

.start-group:hover, .start-group:active {
    color: blue;
    background-color: black;
}