.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header {
    background-color: rgb(82, 81, 81);
    color: white;
    
}
h1 {
    padding-bottom: 30px;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.main-content {
    background-color: lightgray;
    padding: 20px;

}
.aside-content{
    background-color: white;
    padding: 20px;
    padding-bottom: 300px;
    grid-column: 2 / 3;
}

footer {
    background-color: rgb(82, 81, 81);
    color: white;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 20px;
}