/* add js */
:root {
    --roboto: Roboto, Arial, Sans-Serif;
    --dm-serif: "DM Serif Display", "Times New Roman", Serif;
    --cream: #fbd9b5;
    --pink: #e14d81;
    font-family: var(--roboto);
    color: black;
}

header {
    background-color: var(--pink);
    text-align: center;
    padding: 20px;
}

header span{
    display: block;
    text-align: center;
    padding: 10px 0px 20px 0px;
    font-weight: 600;
    font-size: 30px;;
}

nav {
    display: flex;
    justify-self: center;
}

nav a:link {
    font-size: 30px;
    font-weight: 400;;
    padding: 15px;
    text-decoration: none;
    color: black;
}



nav a:hover {
    background-color: var(--cream);
    border-radius: 50px;
}

main {
    background-color: var(--pink);
    max-width: 1500px;
    justify-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h1 {
    grid-column: 1 / 3;
    background-color: var(--cream);
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}

.card {
    display: grid;
    grid-template-rows: 50px;
    background-color: white;
    border: 3px solid black;
}

h2 {
    text-align: center;
    background-color: var(--pink);
    padding: 10px;
    margin: 0px;
    min-width: 230px;
    grid-column: 1 / 3;
}

.card p {
    padding: 10px 20px;
}

.card img {
    justify-self: center;
    align-self: center;
    margin: 10px 20px;
    padding: 0px;
    border: 3px solid black;
}

h3 {
    grid-column: 1/3;
    text-align: center;
    padding: 10px 20px;
}

.card div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/3;
}

.card div a {
    padding: 10px;
    color: var(--dark-accent-color);
    align-self: center;
}

.card a:hover {
    background-color: var(--cream);
    color: black;
}

a:visited {
    color: black;
}

footer {
    background-color: var(--pink);
    color: black;
    text-align: center;
    padding: 20px;
}