/* add fonts */
:root {
    background-color: pink;
}

header span{
    display: block;
    font-size: 20px;
    text-align: center;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-self: center;
}

nav a {
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}

nav a:hover {
    background-color: gray;
    color: black;
    font-size: 30px;  
}

main {
    background-color: lightgray;
    max-width: 1500px;
    justify-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h1 {
    grid-column: 1 / 3;
    background-color: lightblue;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}

h2 {
    text-align: center;
    background-color: green;
    padding: 10px;
    margin: 0px;
}
.card{
    background-color: white;
    border: 3px solid black;
    min-width: 230px;
    /* border-radius: 20px;grid-template-columns: 1fr 1fr; */
}

.card a {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

.card a:hover {
    background-color: yellow;
    color: black;
}