* {
    --light-green: #86ac9f;
    --dark-green: #293d36;
    --white-green: #f3f7f5;
    --gray-green: #dae7e0;
}

/* .arbutus-regular {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
}

    font-family:'Roboto',
    'Arial Narrow',
    Arial,
    sans-serif;


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

header {
    background-color: var(--light-green);
    max-width: 100%;
}

nav {
    display: flex;
    text-align: center;
}

nav a{
    justify-content: space-evenly;
    text-decoration: none;
    width: 100%;
    flex-wrap: nowrap;
    font-size: 20px;
    font-family:'Arbutus','Times New Roman', Times, serif;
    background-color:  var(--dark-green);
    color: var(--gray-green);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:hover {
    text-decoration:underline;
    color: var(--white-green);
}

nav a:visited {
    color: var(--gray-green);
}

body {
    font-family: 'Roboto','Arial Narrow',Arial,sans-serif;
    font-weight: 200;
}

div, h1 {
    font-family: 'Arbutus', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    background-color: var(--light-green);
    color: var(--dark-green);
    padding: 25px;
}

h2 {
    font-family: 'Arbutus', 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: var(--white-green);
    text-align: center;
    font-size: 25px;
}

h3 {
    font-family: 'Roboto','Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline wavy;
    text-underline-offset: 10px;
    text-underline-position: left;
    padding-top: 55px;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 100px auto;
    max-width: 90%;
}

.name {
    grid-column: 1/3;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
}

.card {
    padding: 0 20px;
    border: 2px solid var(--dark-green);
    border-radius: 30px;
    background-color: var(--white-green);
    /* display: ; */
    position: relative;
    color: var(--dark-green);
}

.card p {
    padding-right: 10px;
    font-size: 20px;
}

.profile {
    max-width: 250px;
    max-height: 150px;
    float: right;
    right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid var(--dark-green);
}

.flag {
    max-width: 200px;
    float: left;
    margin-right: 15px;
    border: 5px solid var(--dark-green);
}

footer {
    margin: auto;
    text-align: center;
    background-color: var(--dark-green);
    padding: 3px 0;
}

footer p {
    color: var(--gray-green);
}

li a:visited {
    color: var(--dark-green);
}

li a {
    font-size: 20px;
    line-height: 40px;
    color: var(--dark-green);
}

li a:link {
    color: var(--dark-green);
}

