/* add fonts */
:root {
    background-color: pink;
}

main {
    background-color: lightgray;
}

nav {
    display: flex;
}

a {
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}
a:hover {
    background-color: gray;
    color: black;
    font-size: 30px;
    
}

main {
    max-width: 1500px;
    justify-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
h1 {
    grid-column: 1 / 3;
    background-color: lightblue;}
.card{
    background-color: white;
    border: 3px solid black;
    /* grid-template-columns: 1fr 1fr; */

}