:root {
    --green: #9cb997;
    --deep-purple: #331110;
    --cream: #fff3d6;
    --small-font: 18px;
    --medium-font: 28px;
    --large-font: 38px;
    background-color: var(--cream);
    font-family: Delius, Arial, sans-serif;
    color: var(--deep-purple)
}

.dropdown {
    font-size: var(--medium-font);
    color: var(--deep-purple);
    background-color: var(--cream);
    border: none;
}

nav {
    display: none;
}

nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--cream);
    padding: 10px;
    border: 3px solid var(--deep-purple);
    font-size: var(--medium-font);
}

a {
    margin: 10px;
}

a:visited, a:link {
    color: var(--deep-purple);
    text-decoration: none;
}

a:active {
    text-decoration: solid;
}

a:hover {
    text-decoration: underline;
    color: var(--green);
}

h1, h2 {
    justify-self: center;
    font-size: var(--large-font);
}

h2 {
    font-size: var(--medium-font);
    margin-bottom: 10px;
    margin-top: 0;
}

footer {
    text-align: center;
    font-size: var(--small-font);
}

.temple-container {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr;
}

card {
    background-color: var(--green);
    padding: 20px;
    border: 2px solid  var(--deep-purple);
    text-align: center;
    min-width: 350px;
}

img {
    width: 100%;
    border: 2px solid var(--deep-purple);
    margin-top: 20px
}

p {
    margin: 0;
}
