:root {
    font-family: Roboto, Arial, sans-serif;
    --primary-color: #789c66;
    --accent-color: #c0d9b4;
    --dark-color: #000000;
    color: var(--dark-color);
    font-size: 18px;
}

header {
    background-color: var(--primary-color);
    font-size: 30px;
}

header p {
    padding: 20px;
    margin: 0;
}

button {
    background-color: var(--primary-color);
    border: none;
}

main {
}

.card-container {
    max-width: 500px;
    align-items: center;
    justify-items: center;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

nav a {
    font-size: 18px;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    padding: 10px;
    display: flex;
}

nav a:link {
    text-decoration: none;
    color: var(--dark-color);
}

nav a:visited {
    color: var(--dark-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.nav-menu {
    display: none;
}

.hamburger-button {
    display:contents;
}

.nav-menu.open {
    display: contents;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: var(--accent-color);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.card {
    position: relative;
    border: 3px solid var(--primary-color);
    width: 90vw;
    height: 400px;
    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: auto; */
    /* place-items: center; */
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr fr; */
    /* display: flex */
    background-color: var(--accent-color);
}

.cardText {
    color: var(--dark-color);
    padding-top: 20px;

}

.card p, h2 {
    text-align: center;
    padding: none;
    margin: 0;
    border: none;
}

.img-container {
    display: grid;
    /* place-items: center; */
    justify-items: center;
    /* align-items: bottom; */
    /* position: relative; */
    background-color: aqua;
    border: 30px solid yellow;
}

img {
    width: 80%;
    height: auto;
    object-fit: cover;
    grid-temlate-rows: 5/6;
    position: absolute;
    /* left: 500px; */
    /* right: 500px; */
    /* top: 50px; */
    bottom: 10px;
    border: 2px solid var(--dark-color);
    /* place-self: center; */
    /* margin: 0 auto; */
    /* text-align: left; */
    /* justify-content: center; */
}

img {
    justify-content: center;
}