@media screen and (min-width: 500px) {
    .hamburger-button {
        display: none;
    }

    .nav-menu {
        display: flex;
        min-width: 50%;
        background-color: var(--accent-color);
        justify-content: space-between;
        text-align: center;
    }

    main {
        max-width: 1500px;
        margin: 0 auto;
    }

    .card-container {
        max-width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        width: 30vw;
    }
}