:root {
    font-family: Roboto, Arial, sans-serif;
    --primary-color: #789c66;
    --accent-color: #c0d9b4;
    --dark-color: #000000;
    color: var(--dark-color);
    font-size: 18px;
}

header {
    background-color: var(--primary-color);
    font-size: 30px;
}

header p {
    padding: 20px;
    margin: 0;
}

button {
    background-color: var(--primary-color);
    border: none;
}

main {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

nav a {
    font-size: 18px;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    padding: 10px;
    display: flex;
}

nav a:link {
    text-decoration: none;
    color: var(--dark-color);
}

nav a:visited {
    color: var(--dark-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
}

.nav-menu {
    display: none;
}

.hamburger-button {
    display:contents;
}

.nav-menu.open {
    display: contents;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: var(--accent-color);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-size: 18px;
}

img {
    width: 80%;
    height: auto;
    object-fit: cover;
    /* grid-template-rows: 5/6; */
    position: absolute;
    /* top: 50px; */
    bottom: 20px;
    border: 2px solid var(--dark-color);
}

.card {
    background-color: var(--accent-color);
    color: var(--dark-color);
    position: relative;
    border: 3px solid var(--primary-color);
    width: 30vw;
    height: 400px;
    align-items: center;
    margin: auto;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr fr; */
}