@media screen and (min-width: 500px) {
    .hamburger-button {
        display: none;
    }

    .nav-menu {
        display: flex;
        min-width: 50%;
        background-color: var(--accent-color);
        justify-content: space-between;
        text-align: center;
    }

    main {
        max-width: 1500px;
        margin: 0 auto;
    }

    .card-container {
        margin: 0 auto;
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    }

    .card {
        width: 30vw;
    }
}