:root {
    --med-green: #728821;
    --deep-green: #415700;
    --pale-blue: #F0FFFF;
    --blue: #7DAEEB;
    --small-font: 18px;
    --medium-font: 28px;
    --large-font: 38px;
    font-size: var(--small-font);
    color: var(--deep-green);
    background-color: var(--pale-blue);
    font-family: Delius, Arial, sans-serif;
}

.data, .weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    color: var(--deep-green);
    font-size: var(--small-font);
}

.l {
    justify-self: end;
    font-weight: bold;
}

h1, footer {
    background-color: var(--deep-green);
    color: var(--pale-blue);
    padding: 20px;
    text-align: center;
}

footer {
    font-size: var(--small-font);
}

h1 {
    font-size: var(--large-font);
}

h2 {
    color: var(--deep-green);
    text-align: center;
    font-size: var(--medium-font);
}

.hero {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

p {
    margin: 5px;
}