:root {
    --med-green: #728821;
    --deep-green: #2D362B;
    --pale-blue: #F0FFFF;
    --blue: #7DAEEB;
    --small-font: 18px;
    --medium-font: 28px;
    --large-font: 38px;
    background-color: var(--pale-blue);
    font-family: Delius, Arial, sans-serif;
}

h1 {
    background-color: var(--deep-green);
    color: var(--pale-blue);
}

.data, .weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.l {
    justify-self: end;
}

h1, footer {
    background-color: var(--deep-green);
    color: var(--pale-blue);
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-size: var(--large-font);
}

h2 {
    color: var(--deep-green);
    text-align: center;
    font-size: var(--medium-font);
}

p {
    font-size: var(--small-font);
    color: var(--deep-green);
}