@media screen and (min-width: 650px){
    .data, .weather {
        background-color: var(--clear-blue);
        padding: 60px 10px 0px 10px;
        margin: 0px;
        position: absolute;
    }

    /* main div {
        display: inline;
        position: absolute;
        /* top: 0; */
        /* left: 0; */
    source, img {
        object-fit: cover;
        min-height: 300px
    }

    .data {
        /* display: grid; */
        /* position: absolute; */
        top: 150px;
        left: 20px;
        width: 300px;
        /* padding-top: 60px; */
    }

    .weather {
        /* display: block; */
        /* position: absolute; */
        top: 200px;
        right: 20px;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " ⛅"
    }

    h2 {
        position: absolute;
        left: -20px;
        width: 103%;
        background-color: var(--deep-green);
        color: var(--pale-blue);
        padding: 5px;
    }

}