@media screen and (min-width: 650px){
    .data, .weather {
        background-color: var(--clear-blue);
        padding: 60px 10px 0px 10px;
        position: absolute;
    }

    source, img {
        object-fit: cover;
        min-height: 500px;
        padding-top: 5px;
        /* position: relative; */
    }

    .data {
        top: 25px;
        left: 20px;
        width: 300px;
    }

    .weather {
        bottom: 25px;
        right: 20px;
    }

    .weather img {
        display: none;
    }

    .weather h2::after {
        content: " ⛅"
    }

    h2 {
        position: absolute;
        left: -20px;
        width: 103%;
        background-color: var(--deep-green);
        color: var(--pale-blue);
        padding: 5px;
    }
    main {position: relative;}
}