:root {
    --med-green: #728821;
    --deep-green: #415700;
    --pale-blue: #F0FFFF;
    --blue: #7DAEEB;
    --small-font: 18px;
    --medium-font: 28px;
    --large-font: 38px;
    font-size: var(--small-font);
    color: var(--deep-green);
    background-color: var(--pale-blue);
    font-family: Delius, Arial, sans-serif;
}

main div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

h2 {
    grid-column: 1/3;
    text-align: center;
}

.data p:nth-child(even), .weather p:nth-child(odd){
    text-align: right;
    font-weight: bold;
    /* font-size: 300px; */
}

main div img {
    grid-column: 1/3;
}