@media only screen and (min-width: 850px) {
    :root {
        --med-green: #728821;
        --deep-green: #415700;
        --pale-blue: #F0FFFF;
        --clear-blue: #F0FFFFCC;
        --blue: #7DAEEB;
    }

    .hero-box {
        position: relative;
    }

    .data-box, .weather-box {
        width: 30%;
        max-width: 500px;
        position: absolute;
    }
    
    .data-box {
        top: 30px;
        left: 40px;
    }

    .weather-box { 
        right: 1rem;
        bottom: 1rem;
    }

    .data, .weather {
        background-color: var(--clear-blue);
        padding-top: 80px;
    }

    h2 {
        position: absolute;
        padding: 5px 0 5px;
        border: var(--med-green) 2px solid;
        background-color: var(--med-green);
        color: var(--pale-blue);
        left: -1rem;
        width: 75%; 
    }

    .weather-icon {
        display: none;
    }

    .weather-head::after {
        content: " ⛅" ;
    }
  
}   