:root {
    --med-green: #728821;
    --deep-green: #415700;
    --pale-blue: #F0FFFF;
    --blue: #7DAEEB;
    --clear-blue: #F0FFFFBB;
    background-color: var(--pale-blue);
    color: var(--deep-green);
}

h2 {
    background-color: var(--deep-green);
    color: var(--pale-blue);
    padding: 5px 10px;
}
p {
    padding: 0 10px;
}

header, footer {
    padding: 5px 0;
    background-color: var(--deep-green);
        color: var(--pale-blue);
    text-align: center;
}