@media screen and (min-width: 500px) {
    main {
            max-width: 1500px;
            /* margin: 0 auto; */
            display: grid;
            /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
            grid-template-columns: 1fr 1fr 1fr;
    }
}

    